{% extends 'base.html.twig' %}
{% block title %} Posts {% endblock %}
    {% block body %}
    {% if post %}
        <div class="container">
            <div class="row">    
                <h2>{{ post.title }}</h2>
            </div>
            <div class="row">
                <div class="col-sm">
                    <ul class="list-group">
                        {% for listPost in posts %}
                        <a class="btn" href="{{ path('post_show', {'id': listPost.id}) }}">
                            <li class="list-group-item" aria-current="true">{{listPost.title}}</li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm col-4">
                    
                    <img src={{ post.urlImg }}/>
                </div>
                </div>
        </div>
        <a class="btn btn-success" href="{{ path('post_edit', {'id': post.id}) }}">Editar</a>    
{% else %}
    <div class="container text-center">
        <h1>Parece que aun no hay entradas, se el primero.</h1>
        <a class="btn btn-success" href="{{ path('post_new') }}">Crear una nueva entrada</a>
    </div>
{% endif %}

{% endblock %}


  